In [ ]:
d1 = {'user':'bozo', 'pswd':1234}

In [ ]:
d1['user']

In [ ]:
d1['pswd']

In [ ]:
d1['bozo']

In [ ]:
d1['user'] = 'clown'
a1

In [ ]:
d1['id'] = 45
d1

In [ ]:
d2 = ['user':'bozo', 'p':1234, 'i':34]

In [ ]:
del d['user']

In [ ]:
d2

In [ ]:
d2.clear()
d2

In [ ]:
a = [1,2]